/* Full page gradient background */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

/* Glassmorphism login card */
.login-card {
  background: rgba(193, 28, 28, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  color: #0e0c0c;
  text-align: center;
}

/* Title and subtitle */
.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.login-subtitle {
  font-size: 0.9rem;
  color: #0e0c0c;
  margin-bottom: 25px;
}

/* Input fields */
.login-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(255,255,255,0.2);
  color: #0e0d0d;
  transition: 0.3s;
}

.login-input::placeholder {
  color: #4e0000;
}

.login-input:focus {
  background: rgba(207, 14, 14, 0.3);
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(90deg, #04ca67, #0ab730);
  color: #b91a1a;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Footer */
.login-footer {
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup-btn {
  background: transparent;
  border: none;
  color: #1f044b;
  font-weight: bold;
  cursor: pointer;
  margin-top:15px;
  margin-left: 5px;
}


